@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a MJL Ecommerce</h1>
    <img src="https://www.combinatoria.com.ar/wp-content/uploads/2018/09/Indicadores-ecommerce-vender-online1170x550-900x.png" height="400px" width="650px" />
</div>
