@model MJL_Ecommerce.Models.Factura_Producto

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Carrito de Compras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Codigo de la Factura:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFacturaNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
            Producto:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            Total Factura:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Precio)
        </dd>
    </dl>
</div>
<div>
    <button style="background-color:lightgray; border-color:black; color:white" class="p-button"> <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>  </button>
    <button style="background-color:lightgray; border-color:black; color:white" class="p-button"> <a asp-action="Index">Regresar</a> </button>

</div>
